<h1 id="tableLabel">Escola</h1>

<p>Deseja confirmar a exclusão da escola?</p>

<hr />

<form [formGroup]="schoolForm" (ngSubmit)="onSubmit(schoolForm.value)">
  <div class="form-group">
    <label for="name">Nome</label>
    <input id="name" type="text" formControlName="name" class="form-control" disabled="disabled"/>
  </div>
  <div class="row">
    <div class="col text-left">
      <a class="btn btn-link" [routerLink]="['/schools']">Voltar</a>
    </div>
    <div class="col text-right">
      <button type="submit" class="btn btn-danger">Excluir</button>
    </div>
  </div>
</form>
