<h1 id="tableLabel">Escola</h1>

<p>Editar os dados da escola.</p>

<hr />

<div *ngIf="message" class="alert alert-{{messageClass}} alert-dismissible fade show" role="alert">
  <strong>{{messageTitle}}</strong> {{message}}
  <hr *ngIf="validations && validations.domainExceptions" />
  <p *ngFor="let exception of validations.domainExceptions">{{exception}}</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="schoolForm" (ngSubmit)="onSubmit(schoolForm.value)">
  <div class="form-group">
    <label for="name">Nome</label>
    <input id="name" type="text" formControlName="name" class="form-control" />
    <ul *ngIf="validations && validations.entityExceptions">
      <li *ngFor="let nameValidations of validations.entityExceptions.Name" class="text-danger">{{nameValidations}}</li>
    </ul>
  </div>
  <div class="row">
    <div class="col text-left">
      <a class="btn btn-link" [routerLink]="['/schools']">Voltar</a>
    </div>
    <div class="col text-right">
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </div>
</form>
